html {
  scroll-behavior: smooth;
  background:#57bb6b;
}

body {
  max-width: 380px;
  margin : auto;
}

/* header */

header {
  margin-top : 8px;
  background-image: url(../img/fruits.webp);
  background-size: cover;
  padding: 20px;
}

.title-container {
  background-color:rgba(255, 255, 255, 0.884);
}

header h1 { 
  padding: 35px 55px 0px 55px;
  margin-bottom: 0px;
}

header p {
  color: #57bb6b;
  font-family: 'Quattrocento';
  text-align: center;
  font-size: 20px; 
  margin-top: 0px;
  padding: 0px 38px 26px 38px;
}

/* buttons header */

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  background-color: #57bb6b;
  color: white;
  font-family: 'Maven pro';
  border: none;
  border-radius: 15px;
  margin-bottom: 13px;
  font-size: 20px;
  padding: 10px;
}

.button-contact {
  background-color: white;
  color: #57bb6b;
  font-family: 'Maven pro';
  border: none;
  border-radius: 15px;
  margin-bottom: 13px;
  font-size: 20px;
  padding: 10px 20px;
}

a {
  text-decoration: none;
  color: white;
}

/* main */

main {
  background-color: white;
  color: black;
}

main h1 {
  text-align: center;
  font-family: 'Maven Pro';
  font-size: 26px;
  margin-top: 0px;
  padding: 95px 60px 10px 60px;
}

main p {
  font-family: 'Quattrocento';
  text-align: center;
  font-size: 16px;
  padding: 0px 60px;
}

/* main fruits */

.fruits {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:space-between;
  padding: 30px 68px 95px 68px;
  max-width: 265px;
}

.fruits img {
  max-width: 27px;
}

/* article */

article h1 { 
  color : white;
  font-family: 'Maven Pro';  
  text-align: center;
  font-size: 26px;
}

.item h1 {
  color: black;
  font-family: 'Sriracha';
  font-size: 30px;
  padding-right: 38px;
  margin-top: 0px;
}

article p {
  font-family: 'Quattrocento';
  color: rgba(0, 0, 0, 0.541);
  font-size: 16px;
  margin-top: 0px;
}

article a {
  color: black;
  font-family: 'Maven Pro';
  text-decoration: underline;
  font-size: 14px;
}

/* article kiwi */
.kiwi-article{
  background-color: #c4f2ad;
  width: 380px;
}

.kiwi-article img{
  max-width: 100px;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.kiwi-container{
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  margin: 0px 100px;

}

.kiwi-article h1 {
  text-align: left;
  font-family: 'Maven Pro';
}

.kiwi-article p {
  color : white;
  font-family: 'Quattrocento';
  font: 16px;
  padding: 69px ;
}

.title-container p {
  
}






/* box */

.article-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  
}

.item {
  text-align: left;
  padding-top: 30px;
  min-width: 320px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.726);
  border-radius: 20px;
}

.product img {
  max-width: 80px;
}

.banana {
  background-color: #fff8d7;
  text-align: center;
}

.kiwi {
  background-color: #c4f2ad;
  text-align: center;
}

.coffee {
  background-color: #d3c6b2;
  text-align: center;
}

.strawberry {
  background-color: #f7a4b4;
  text-align: center; 
}

/* footer */

footer {
  background-color : white;
  width: 380px;
}

footer h1 {
  font-family:'Maven Pro';
  color: #57bb6b;
  text-align: center;
  padding-top: 40px;
  font-size: 26px;
  margin-bottom: 35px;
  margin-top : 0px;
}

footer p {
  color: #57bb6b;
  font-family: 'Maven Pro';
  text-align: center;
  font-size: 12px;
  padding-top: 70px;
  margin : 0px 50px 20px 50px;
}

/* footer button */

.button {
  color: white;
  background-color: #57bb6b;
  border:none;
  font-family: 'Maven pro';
  border-radius: 13px;
  padding: 10px 17px;
  margin-bottom: 13px;
  font-size: 20px;
}

footer a{
  text-decoration: none;
  color: white;
}

/* footer fruits */

.fruits-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:space-between;
  padding: 30px 68px 44px 68px;
  max-width: 265px;
}

.fruits-footer img {
  max-width: 27px;
}

