html{
  scroll-behavior: smooth;
}

body {
  max-width: 320px;
  margin: auto;
  background-color: #57bb6b; 
}
header{
  background-image: url(../img/fruits.webp);
  font-size: 20pt;
  color: #57bb6b;
  text-align: center;

}

div{
  background-color:rgba(255, 255, 255, 0.849);
}

footer{
  height:467px;
  color : white;
}


h1{
  color: #57bb6b;
}

.button{
 background-color: #57bb6b;
 color : white;
}

