html{
  scroll-behavior: smooth;
}

body {
  max-width: 320px;
  margin: auto;
  background-color:#57bb6b;
}

header {
  background-image: url(../img/fruits.webp);
  font-size: 20pt;
  color: #57bb6b;
  text-align: center;
  background-color: #57bb6b; 
}

div {
  width : 320px;
  height : 167px;
  background-color:rgba(255, 255, 255, 0.849);
}

footer{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color : white;
}


h1{
  color: #57bb6b;
  text-align: center;
  font-size: 26pt;
  font-family: 'Maven Pro', bold;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button{
  border-radius: 20px;
  margin-bottom: 13px;
  background-color: #57bb6b;
  color : white;
  font-size: 20pt;
  border:none;
  font-family: 'Maven pro';
  padding: 10px;
}

a{
  text-decoration: none;
  color: white;
}

footer p {
  font-size: 12pt;
  padding-top:70px;
  color: #57bb6b;
  text-align: center;
  font-family: 'Maven Pro';
}

.container{
  display: flex;
  flex-direction: row;
}

.element {
  padding: 25px;
}
